
.book-slider {
    position: relative;
    overflow: hidden;
  }
  
  .slider-content {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    padding-bottom: 20px; /* Agrega un poco de espacio para que los botones no se superpongan al contenido */
  }
  
  .book-card {
    flex: 0 0 auto;
    width: 350px; /* Ajusta el ancho de las tarjetas */
    margin-right: 20px;
    padding: 10px;
    scroll-snap-align: start;
    border-radius: 10px;
  }

  .slider-controls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-width: 60px; /* Establece un ancho mínimo para el contenedor de los botones */
    padding: 0 20px; /* Agrega un poco de espacio a los lados de los controles */
    z-index: 1; /* Asegura que los controles estén sobre el contenido */
  }
  
  .slider-button {
    background-color: #fff;
    border: 1px solid #ddd;
    color: #333;
    padding: 5px; /* Reduce el padding para hacer los botones más pequeños */
    margin: 5px;
    cursor: pointer;
    border-radius: 50%; /* Haz que los botones sean redondos */
    width: 30px; /* Ajusta el ancho */
    height: 30px; /* Ajusta la altura */
    font-size: 0.8rem; /* Reduce el tamaño del texto */
  }
  
  .slider-button.prev {
    margin-left: 10px; /* Agrega un espacio entre el botón "Prev" y el borde izquierdo */
  }
  
  .slider-button.next {
    margin-right: 10px; /* Agrega un espacio entre el botón "Next" y el borde derecho */
  }
  
.book-card img {
  width: 100%; /* Haz que la imagen ocupe todo el ancho de la tarjeta */
  height: 200px; /* Ajusta la altura de la imagen */
  object-fit: contain;
  border-radius: 5px;
}

  .book-card h3 {
    font-size: 1rem;
    margin: 10px 0;
    color: #666;
  }
  
  .book-card p {
    font-size: 0.8rem;
    color: #666;
  }
  