
/* Estilos adicionales para centrar el input en pantallas pequeñas */
@media (max-width: 600px) {
  .search-bar-container {
    flex-direction: column; /* Cambiar a dirección de columna */
    align-items: center; /* Centrar verticalmente */
  }

  .search-input {
    width: 100%;
    margin-bottom: 10px; /* Espacio entre el input y el botón */
  }
}
